.git
*.log
.vscode
pic/
data/
Logs/
music/
UserData/
microsoft.vc80.mfc.manifest
msvc8p.dll
msvcm80.dll
msvcp80.dll
msvcp100.dll
msvcp100d.dll
msvcp120.dll
msvcp120d.dll
msvcr80.dll
msvcr100.dll
msvcr100d.dll
msvcr120.dll
msvcr120d.dll
package.ini
rainbow.dll
represent2.dll
represent3.dll
vltk.ico
config.exe
config.ini
engine.dll
filtertext.dll
game.exe
Interop.IWshRuntimeLibrary.dll
lualibdll.dll
mfc80.dll
microsoft.vc80.crt.manifest
*.csv
*.xlsx